div{
  width:80%;
  height:300px;
  background: linear-gradient(0deg, #4dff00 0%, #de6b0d 86%);
  font-size:30px;
}
body{
  background: #ffffff url(https://upload.wikimedia.org/wikipedia/commons/e/ee/Roblox.jpg) center bottom/contain repeat content-box;
}