.vid{
    background: linear-gradient(0deg, #00ff62 0%, #85c0ff 100%);
  width: 40%;
  height:300px;
  margin: 1.66%;
  float: left;
  font-size:30px;
}
h1{
      background: linear-gradient(0deg, #00ff62 0%, #85c0ff 100%);
}
body{
  background: #ffffff url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQk3baSPjKkqDcDiPYh0eZfvDgY5-MIAZPpg&s) center center/cover no-repeat;
}